
body.home {
   background-color: $color__background-body;    
   width: 100vw;
   height: 100vh;

   #primary {
      margin-left: 0;
      width: 100vw;
   }
}

body.home::after {
   position: absolute;
   width: 100%;
   height: 100%;
   content: '';
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-color: #F26444;
   z-index: -1;
   clip-path: polygon(83% 0, 0 0, 0 100%, 43% 100%);
   @include media-desktop {
         clip-path: polygon(0 0, 100vw 0%, 100vw 50%, 0 50%);
      }
}

#page {
   margin: 0;
}

.site-title {
   display: flex;
   width: 100vw;
   font-size:  clamp(2rem, #{"-0.875rem + 8.333vw"}, 4rem);
   margin-bottom: 0;
   justify-content: center;
   a {
      text-decoration: none;
      font-weight: bold;
   }
}

.site-description {
   font-size:  clamp(.9rem, #{"-0.875rem + 8.333vw"}, 4rem);
   margin-bottom: 0;
}

.accueil {

   ul{
      list-style-type: none;
      margin: 1rem 0;
      font-size: clamp(.9rem, 2vw, 4rem);
   }

   img {
      display: block;
   }
}