.carrousel-2 {
    display: flex;
    width: 300vw;
    height: 20vh;
    transition: transform .5s;
    transform: translate(0);
    margin: 0;
    flex-wrap: nowrap !important;

    .slide__conteneur {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        .slide {
            width: 60%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            img {
                display: block;
                margin: 2%;
            }
            .slide__info {
                display: flex;
                flex-direction: column;
           

                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    p {
                        font-size: .8rem;
                    }
                }
            }

        }
        &:nth-of-type(1){
            background-color: rgb(41, 170, 80);;
        }
        &:nth-of-type(2){
            background-color: rgb(149, 41, 170);;
        }
        &:nth-of-type(3){
            background-color: rgb(170, 146, 41);;
        }
    }
}

.ctrl-carrousel {
    display: flex;
    justify-content: center;
    width: 100vw;
    .rad-carrousel {
        display: block;
        margin: .5rem .2rem;
    }
}